<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= article.title%>
        </h5>
    <h6 class="card-text"><%= article.author%></h6>
    <hr>
    <p class="card-text">
        <%= article.content.substring(1, 100); %>
    </p>
    <a href="#" class="btn btn-primary">Read</a>
</div>
</div>